@import "~/.config/rofi/shared/fonts.rasi"
@import "~/.cache/wal/colors-rofi-dark"

/*****----- Configuration -----*****/
configuration {
    modi:                       "drun,run,filebrowser";
    show-icons:                 false;
    display-drun:               " Apps";
    display-run:                " Run";
    display-filebrowser:        " Files";
    display-window:             " Windows";
    drun-display-format:        "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    window-format:              "{w} · {c} · {t}";
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       800px;
    x-offset:                    0px;
    y-offset:                    0px;
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               20px;
    border-color:                @border-color;
    cursor:                      "default";
    //background-color:            @background-color;
    background-color:		rgba(0, 0, 0, 0.5);
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     40px;
    border:                      0px solid;
    background-color:            transparent;
    children:                    [ "inputbar", "message", "listview", "mode-switcher" ];
}

/*****----- Inputbar -----*****/
inputbar {
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "prompt", "textbox-prompt-colon", "entry" ];
}

prompt, textbox-prompt-colon, entry, num-filtered-rows, textbox-num-sep, num-rows, case-indicator {
    background-color:            inherit;
    text-color:                  inherit;
}

/*****----- Listview -----*****/
listview {
    columns:                     2;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   true;
    layout:                      vertical;
    fixed-height:                true;
    fixed-columns:               true;
    spacing:                     5px;
    background-color:            transparent;
    text-color:                  @foreground;
}

scrollbar {
    handle-width:                10px;
    handle-color:                @active-background;
    border-radius:               10px;
    background-color:            @alternate-normal-background;
}

/*****----- Elements -----*****/
element {
    spacing:                     10px;
    padding:                     5px 10px;
    border-radius:               20px;
    background-color:            transparent;
    text-color:                  @foreground;
}

element normal.normal       { background-color: transparent; text-color: var(normal-foreground); }
element normal.urgent       { background-color: var(urgent-background); text-color: var(urgent-foreground); }
element normal.active       { background-color: var(active-background); text-color: var(active-foreground); }
element selected.normal     { background-color: var(selected-normal-background); text-color: var(selected-normal-foreground); }
element selected.urgent     { background-color: var(selected-urgent-background); text-color: var(selected-urgent-foreground); }
element selected.active     { background-color: var(selected-active-background); text-color: var(selected-active-foreground); }
element alternate.normal    { background-color: transparent; text-color: var(alternate-normal-foreground); }
element alternate.urgent    { background-color: var(alternate-urgent-background); text-color: var(alternate-urgent-foreground); }
element alternate.active    { background-color: var(alternate-active-background); text-color: var(alternate-active-foreground); }

element-icon {
    background-color: transparent;
    text-color: inherit;
    size: 24px;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    highlight: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.0;
}

/*****----- Mode Switcher -----*****/
mode-switcher {
    spacing: 10px;
    background-color: transparent;
    text-color: @foreground;
}

button {
    padding: 5px 10px;
    border-radius: 20px;
    //background-color: @alternate-normal-background;
    background-color: rgba(255, 255, 255, 0.1);
    text-color: inherit;
}

button selected {
    background-color: var(selected-normal-background);
    text-color: var(selected-normal-foreground);
}

/*****----- Message -----*****/
message {
    background-color: transparent;
    text-color: @foreground;
}

textbox {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: @alternate-normal-background;
    text-color: @foreground;
    placeholder-color: @foreground;
    blink: true;
    markup: true;
}

error-message {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    border-color: @border-color;
    background-color: @background-color;
    text-color: @foreground;
}
