@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background: none;
  border: none;
  border-radius: 15px;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#mpd,
#custom-media,
#clock,
#network,
#tray,
#idle_inhibitor,
#custom-power,
#pulseaudio,
#keyboard-state,
#backlight,
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#battery,
#disk,
#wireplumber,
#mode {
  padding: 0 12px;
  color: @foreground;
}

/* Top bar */
#window,
#workspaces {
  margin: 0 4px;
}

#workspaces {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color1;
  border-radius: 15px;
}

#workspaces button {
  padding: 0 4px;
  background-color: transparent;
  color: @color1;
  -gtk-icon-effect: dim;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: @foreground;
  -gtk-icon-effect: none;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mpd {
  background-color: @color8;
  color: @background;
  border-radius: 15px;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
  border-radius: 15px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#clock {
  background-color: @color1;
  border-radius: 15px;
}

#network {
  background-color: @color4;
  color: @background;
  border-radius: 15px;
}

#tray {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color1;
  border-radius: 15px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color1;
  border-radius: 15px;
}

#idle_inhibitor.activated {
  color: #26A65B;
}

#custom-power {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color1;
  border-radius: 15px;
}

/* Bottom bar */
window#waybar.bottom .modules-left {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color2;
  border-radius: 15px;
}

window#waybar.bottom .modules-right {
  background-color: alpha(@background, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
  border: solid 2px @color2;
  border-radius: 15px;
}

#pulseaudio {
  background-color: @color5;
  color: @background;
  border-radius: 15px;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature {
  background-color: #26A65B;
  color: @background;
  border-radius: 15px;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#battery {
  background-color: @color3;
  color: @background;
  border-radius: 15px;
}

#battery.charging,
#battery.plugged {
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
